<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-deeplinks" version="1.0.0">
    <name>DeeplinksPlugin</name>
    <description>Plugin to handle Android deeplinks</description>
    <license>MIT</license>
    <keywords>cordova, deeplinks</keywords>
    <engines>
        <engine name="cordova-android" version=">=7.0.0"/>
    </engines>

    <preference name="APP_SCHEME" default=""/>
    <preference name="APP_HOST" default=""/>

    <js-module src="www/deeplink.js" name="deeplink">
        <clobbers target="cordova.plugins.DeeplinksPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeeplinksPlugin">
                <param name="android-package" value="pt.nos.osatmospheretest.DeepLinksActivity" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="pt.nos.osatmospheretest.DeepLinksActivity"
                      android:exported="true"
                      android:launchMode="singleTask">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <data android:scheme="$APP_SCHEME" 
                          android:host="$APP_HOST"/>
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/DeepLinksActivity.java" target-dir="src/pt/nos/osatmospheretest" />
    </platform>
</plugin>

